*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  line-height: 1.7;
  background-color: #3b4664;
}

.attribution__blue {
  color: #afa4a4;
  font-size: 11px;
  text-align: center;
}

.attribution__blue a {
  color: #d3cdcd;
}

.attribution__light {
  color: #191919;
  font-size: 11px;
  text-align: center;
}

.attribution__light a {
  color: #3f3f3f;
}

.attribution__party {
  color: rgba(255, 216, 45, 0.5);
  font-size: 11px;
  text-align: center;
}

.attribution__party a {
  color: rgba(255, 230, 121, 0.7);
}

.calc__header {
  color: #fff;
  margin-bottom: 1rem;
  position: relative;
}

.calc__header--title {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  line-height: 1.5;
}

.calc__screen--input {
  font-family: inherit;
  font-weight: 700;
}

.calc__row {
  font-size: 2rem;
  font-weight: 600;
  color: #3f3f3f;
}

.calc__row--col-word-blue,
.calc__row--col-word2-blue {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.calc__row--col-num-blue {
  font-size: 1.8rem;
}

.calc__row button {
  font-family: inherit;
  font-weight: 700;
}

.labels-toggle {
  font-size: 0.7rem;
  font-weight: 700;
  float: right;
  margin-top: 8px;
  margin-right: 7px;
  word-spacing: 0.8rem;
}

.theme-title {
  position: relative;
  top: 25px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  margin-left: 23%;
}

@media only screen and (max-width: 600px) {
  .attribution__blue {
    display: none;
  }
  .attribution__light {
    display: none;
  }
  .attribution__party {
    display: none;
  }
}

.calc__row button {
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.calc__row button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translateY(0.3rem);
  transform: translateY(0.3rem);
}

.calc__row--col-num-blue {
  -webkit-box-shadow: 0 0.2rem rgba(234, 227, 219, 0.6);
  box-shadow: 0 0.2rem rgba(234, 227, 219, 0.6);
}

.calc__row--col-word-blue {
  -webkit-box-shadow: 0 0.2rem rgba(100, 114, 153, 0.6);
  box-shadow: 0 0.2rem rgba(100, 114, 153, 0.6);
}

.calc__row--col-word2-blue {
  -webkit-box-shadow: 0 0.2rem rgba(209, 63, 48, 0.6);
  box-shadow: 0 0.2rem rgba(209, 63, 48, 0.6);
}

.calc__screen input {
  height: 5rem;
  width: 100%;
  font-size: 3rem;
  text-align: right;
  padding: 3rem 1.5rem;
  margin-bottom: 1.2rem;
  margin-top: 0.8rem;
  border-radius: 0.5rem;
  border: none;
}

.calc__screen input:focus {
  outline: none;
}

.switch-toggle {
  float: right;
  border-radius: 5rem;
}

.switch-toggle__item {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.switch-toggle input + label {
  padding: 8px;
  float: left;
  cursor: pointer;
  margin: 3px;
}

.switch-toggle input + .slider-primary__blue {
  background: #d13f30;
  border-radius: 50%;
  z-index: 10;
}

.toggle__container {
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 5rem;
}

@-webkit-keyframes slideToBlue {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

@keyframes slideToBlue {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

@-webkit-keyframes slideToLight {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes slideToLight {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-webkit-keyframes slideToParty {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}

@keyframes slideToParty {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}

.calc__header--title {
  width: 15rem;
  float: left;
  margin-top: 0.5rem;
}

.calc-container {
  height: 95vh;
  width: 100%;
  position: relative;
}

.calc {
  width: 30rem;
  height: 42rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .calc {
    width: 90vw;
    height: 42rem;
  }
}

.calc__row--container {
  background: #252d44;
  border-radius: 0.5rem;
  padding-top: 1.8rem;
  height: 65%;
}

.calc__row {
  margin: 0 auto;
  text-align: center;
  max-width: 88%;
}

.calc__row--col {
  border-radius: 0.5rem;
}

.calc__row--col:not(:last-child) {
  margin-right: 1.3rem;
  margin-bottom: 1rem;
}

.calc__row--col-word-blue {
  background-color: #647299;
  color: #fff;
}

.calc__row--col-num-blue {
  background-color: #eae3db;
  color: #3f3f3f;
}

.calc__row--col-word2-blue {
  background-color: #d13f30;
  color: #3f3f3f;
}

.calc__row .col-1-of-4 {
  width: calc((100% - 1.3rem * 3) / 4);
  float: left;
  height: 3.5rem;
  margin-bottom: 1.5rem;
}

.calc__row .col-2-of-4 {
  width: calc((100% - 1.3rem) / 2);
  float: left;
  height: 3.5rem;
}

@media only screen and (max-width: 600px) {
  .calc__row--col {
    border-radius: 0.5rem;
  }
  .calc__row--col:not(:last-child) {
    margin-right: 1rem;
  }
  .calc__row .col-1-of-4 {
    width: calc((100% - 1rem * 3) / 4);
    float: left;
    height: 3.5rem;
    margin-bottom: 1.5rem;
  }
  .calc__row .col-2-of-4 {
    width: calc((100% - 1rem) / 2);
    float: left;
    height: 3.5rem;
  }
}

.color__bluebg {
  background: #252d44;
}

.color__lightbg {
  background: #d3cdcd;
}

.color__partybg {
  background: #1e0836;
}

.calc__row--col-num-light {
  font-size: 1.8rem;
  background-color: #e5e4e0;
  -webkit-box-shadow: 0 0.2rem rgba(171, 168, 155, 0.8);
  box-shadow: 0 0.2rem rgba(171, 168, 155, 0.8);
}

.calc__row--col-word-light {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: #388188;
  -webkit-box-shadow: 0 0.2rem rgba(19, 43, 46, 0.8);
  box-shadow: 0 0.2rem rgba(19, 43, 46, 0.8);
}

.calc__row--col-word2-light {
  color: #3f3f3f;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: #c85401;
  -webkit-box-shadow: 0 0.2rem rgba(99, 41, 0, 0.8);
  box-shadow: 0 0.2rem rgba(99, 41, 0, 0.8);
}

.calc__row--col-num-party {
  font-size: 1.8rem;
  color: #ffe679;
  background-color: #331b4d;
  -webkit-box-shadow: 0 0.2rem rgba(126, 68, 189, 0.8);
  box-shadow: 0 0.2rem rgba(126, 68, 189, 0.8);
}

.calc__row--col-word-party {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: #56077c;
  -webkit-box-shadow: 0 0.2rem rgba(169, 17, 242, 0.8);
  box-shadow: 0 0.2rem rgba(169, 17, 242, 0.8);
}

.calc__row--col-word2-party {
  color: #3f3f3f;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: #00decf;
  -webkit-box-shadow: 0 0.2rem rgba(120, 255, 246, 0.8);
  box-shadow: 0 0.2rem rgba(120, 255, 246, 0.8);
}

.screen-input--blue {
  background-color: #181f32;
  color: #fff;
}

.screen-input--light {
  background-color: #eeeeee;
  color: #3f3f3f;
}

.screen-input--party {
  background-color: #1e0836;
  color: #ffe679;
}

.switch-toggle input + .slider-primary__light {
  background: #c85401;
  border-radius: 50%;
  z-index: 10;
}

.switch-toggle input + .slider-primary__party {
  background: #00decf;
  border-radius: 50%;
  z-index: 10;
}
